/* customs.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

}

.content {
  max-width: 1200px;
  margin: 50px auto;
}

nav {
  padding: 16px 0;
}

section {
  padding: 0 16px;
}

.border1 {
  border: 1px;
}